version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    container_name: ecommerce-app
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    networks:
      - ecommerce-net

networks:
  ecommerce-net:
    driver: bridge
